.about-us {
  @include section-padding;
}

.about-us__list {
  @include list-reset;
}

.about-us__item {
  padding-top: 83px;
  line-height: #{$base-line-height - 4px};
  background-repeat: no-repeat;
  background-position: left 30px;

  &--material {
    background-image: url("../img/icon-feature-flower.svg");
    background-position: 7px 30px;
  }

  &--style {
    background-image: url("../img/icon-feature-money.svg");
  }

  &--like {
    background-image: url("../img/icon-feature-heart.svg");
    background-position: 7px 35px;
  }

  &--handmade {
    background-image: url("../img/icon-feature-ball.svg");
  }

  &--domestic {
    background-image: url("../img/icon-feature-rocket.svg");
    background-position: left 35px;
  }

  &--pack {
    background-image: url("../img/icon-feature-gift.svg");
  }
}

@media (min-width: $tablet-width) {
  .about-us {
    margin: 50px;
    padding: 0;
  }

  .about-us__list {
    display: flex;
  }

  .about-us__item {
    @include font(20px, 22px);
    padding: 105px 0 7px;
    background-position: left 55px;
  }

  .about-us__wrapper {
    &--small {
      flex-basis: 240px;
      box-sizing: border-box;
      margin-right: 94px;
    }

    &--big {
      max-width: 300px;
    }
  }
}

@media (min-width: $desktop-width) {
  .about-us {
    margin: 60px 220px;
  }

  .about-us__item {
    padding: 100px 0 12px;
  }

  .about-us__wrapper {
    &--small {
      flex-basis: 260px;
    }
  }

    .about-us__wrapper--small .about-us__item {
      background-position: 10px 50px;
    }
}
