.button {
  display: block;
  box-sizing: border-box;
  min-width: 260px;

  margin: 0;
  padding: 15px 0;
  font: inherit;
  line-height: $base-line-height-small;
  text-transform: uppercase;
  color: $base-color-text;
  border: 2px solid $base-color-text;
  background-color: transparent;
  text-align: center;
  cursor: pointer;

  &:hover {
    color: white;
    background-color: $base-color-text;
  }

  &:active {
    background-color: $base-color-text;
    color: rgba($color-white, $alpha);
  }

  &--direction {
    display: inline-block;
    min-width: 125px;
    height: 52px;
    font-size: 0;
    border: 1px solid #ececec;

    &:hover,
    &:focus {
      background-color: transparent;
      opacity: 0.6;
    }

    &:active {
      background-color: transparent;
      opacity: $alpha;
    }
  }

  &--order {
    background-color: $color-blue;
    border: none;
    color: white;

    &:hover {
      background-color: $color-blue;
    }

    &:active {
      background-color: $color-blue;
    }
  }
}

@media (min-width: $tablet-width) {
  .button {
    min-width: 230px;

    &--direction {
      min-width: 85px;
      height: 52px;
      border: none;
    }
  }
}
