.cart {
  @include section-padding;
  text-align: center;
}

.cart__title {
  padding: 0 55px;
  text-transform: uppercase;
}

.cart__wrapper {
  margin: 0 auto;
}

.cart__text {
  border: none;

  @include font(15px, $base-line-height-big);
  font-weight: 400;
  color: $base-color-text;
}

.cart__size-list {
  @include list-reset;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  color: $base-color-text;
}

.cart__item {
  flex-grow: 1;
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.cart__size {
  display: block;
  padding: 15px 20px;
  outline: 2px solid #ececec;
  min-width: 82px;
  box-sizing: border-box;
  line-height: 16px;
}

.cart__add {
  margin: 0 auto;
}

.cart__input:hover + .cart__size,
.cart__input:focus + .cart__size {
  outline: 2px solid #c7c7c7;
}

.cart__input:active + .cart__size {
  outline: 2px solid $color-blue-underline;
}

.cart__input:checked + .cart__size {
  outline: 2px solid $color-blue;
}

@media (min-width: $tablet-width) {
  .cart__wrapper {
    padding: 50px 105px;
    margin: 0 auto;
    max-width: 566px;
    box-sizing: border-box;
    border: 1px solid #c6c6c6;
    box-shadow: 0 5px 10px 0 rgba(#000101, 0.25);
  }

  .cart__title {
    padding: 0;

    @include font(30px, 57px);
  }

  .cart__add {
    min-width: 100%;
  }
}
