.cart {
  @include section-padding;
  padding-bottom: 45px;
  text-align: center;
  display: none;
  position: fixed;
  top: 30%;
  left: 50%;
  z-index: 6;
  transform: translateX(-50%);
  background-color: $color-white;
  border: 1px solid #c6c6c6;
  box-shadow: 0 5px 10px 0 rgba(#000101, 0.25);
}

.cart--show {
  display: block;
}

.cart__title {
  padding: 0 55px;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.cart__text {
  @include indent-reset;
  margin-bottom: 30px;

  @include font(15px, $base-line-height-big);
  font-weight: 400;
  color: $base-color-text;
  border: none;
}

.cart__size-list {
  @include list-reset;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  color: $base-color-text;
}

.cart__item {
  box-sizing: border-box;
  margin-right: 6px;
  flex-grow: 1;
  width: 33%;

  &:last-child {
    margin-right: 0;
  }
}

.cart__size {
  display: block;
  padding: 18px 15px;
  border: 2px solid #ececec;
  max-width: 100%;
  box-sizing: border-box;
  line-height: 16px;
  cursor: pointer;
}

.cart__add {
  margin: 0 auto;
}

.cart__input:hover + .cart__size,
.cart__input:focus + .cart__size {
  border: 2px solid #c7c7c7;
}

.cart__input:active + .cart__size {
  border: 2px solid $color-blue-underline;
}

.cart__input:checked + .cart__size {
  border: 2px solid $color-blue;
}

@media (min-width: $tablet-width) {
  .cart {
    padding: 50px 105px;
    width: 566px;
    box-sizing: border-box;
  }

  .cart__title {
    padding: 0;
    margin-bottom: 15px;

    @include font(30px, 57px);
  }

  .cart__item {
    margin-right: 9px;
  }

  .cart__text {
    font-size: $base-font-size;
  }

  .cart__add {
    width: 100%;
  }
}
