.color__label {
  position: relative;
  padding: 13px 0 30px 60px;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 39px;
    background-color: transparent;
    box-sizing: border-box;
    left: 0;
    top: 0;
    border: 2px solid $base-color-text;
  }
}

.color__input:checked + .color__label {
  &::before {
    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px 25px;
  }
}

.color__input:hover + .color__label,
.color__input:focus + .color__label {
  &::before {
    border: 2px solid $color-blue-underline;
  }
}

.color__input:active + .color__label {
  &::before {
    border: 2px solid #c7c7c7;
  }
}

@media (min-width: $tablet-width) {
  .color {
    padding: 20px 0 15px;
    background-color: $color-grey;
  }

  .color__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .color__item {
    width: 47%;
  }

  .color__label {
    padding: 0 0 56px 80px;

    &::before {
      width: 54px;
      height: 52px;
      top: -16px;
    }
  }
}

@media (min-width: $desktop-width) {
  .color__item {
    width: 265px;

    &:nth-child(3n) {
      margin-right: auto;
    }
  }
}
