.comment__textarea {
  display: block;
  width: 100%;
  padding: 15px 15px 23px;
  box-sizing: border-box;
  border: 2px solid $color-black;

  @include font($base-font-size, $base-line-height-small);
  font-weight: 400;
  color: rgba($base-color-text, $alpha);
  font-family: $base-font-family;
  cursor: pointer;

  &:hover {
    border: 2px solid $color-blue-underline;
    outline: none;
  }

  &:focus,
  &:active {
    border: 2px solid $color-blue-underline;
    outline: none;
    color: $base-color-text;
  }
}

@media (min-width: $tablet-width) {
  .comment {
    margin-bottom: 52px;
  }

  .comment__textarea {
    font-size: 19px;
  }
}

@media (min-width: $desktop-width) {
  .comment {
    margin: 0 0 50px;
  }
}
