.contacts__wrapper {
  padding: 0 30px;
}

.contacts__title {
  @include indent-reset;
  padding: 35px 0 25px;

  @include font(18px, $base-line-height-big);
}

// @media (max-width: 320px) {
//   .contacts__title {
//     @include font(18px, $base-line-height-big);
//   }
// }

.contacts__table {
  margin: 0 0 10px;
  border-collapse: collapse;

  @include font(15px, $base-line-height-big);
  font-weight: 400;
}

.contacts__row {
  display: block;
  margin-bottom: 30px;
}

.contacts__cell {
  min-width: 75px;
  vertical-align: top;
  color: $base-color-text;

  &--address {
    max-width: 150px;
  }
}

.contacts__email {
  color: $base-color-text;
  border-bottom: 1px solid #46c1ae;

  &:hover,
  &:focus {
    color: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}

.contacts__image {
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.contacts__map {
  position: relative;
  height: 457px;
  margin-bottom: 34px;
}

.contacts__map-google {
  position: relative;
  height: 457px;
  z-index: 2;
}

.contacts__write {
  margin: 0 30px 40px;

  @include font(18px, $base-line-height-small);
}

@media (min-width: $tablet-width) {
  .contacts {
    position: relative;
    margin: 60px 0 57px;
  }

  .contacts__wrapper {
    margin: 0 50px;
    padding: 0;
  }

  .contacts__title {
    position: relative;
    padding: 0;
    margin-bottom: 50px;

    @include font(43px, 50px);

    &::before {
      content: "";
      position: absolute;
      width: 47px;
      height: 81px;
      background-image: url("../img/icon-flag.svg");
      background-repeat: no-repeat;
      right: 0;
      top: -10px;
    }
  }

  .contacts__table {
    width: 100%;
    margin: 0;
  }

  .contacts__table tbody {
    display: flex;
    justify-content: space-between;
  }

  .contacts__row {
    width: 50%;
    margin-bottom: 60px;
  }

  .contacts__cell {
    font-size: $base-font-size;

    &--address {
      min-width: 230px;
    }
  }

  .contacts__map {
    margin-bottom: 50px;
  }

  .contacts__write {
    width: 230px;
    margin: 0 auto;
    font-size: $base-font-size;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    margin: 0 50px 105px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .contacts__wrapper {
    margin-left: 170px;
  }

  .contacts__title {
    @include font(53px, 57px);

    &::before {
      left: -105px;
    }
  }

  .contacts__table tbody {
    display: block;
  }

  .contacts__row {
    margin-bottom: 30px;
  }

  .contacts__table {
    margin-bottom: 45px;
  }

  .contacts__map {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0;
  }

  .contacts__map-google {
    width: 525px;
  }

  .contacts__image {
    vertical-align: bottom;
  }

  .contacts__write {
    max-width: 230px;
    margin: 0;
    margin-left: 177px;
  }
}
