.contacts__title {
  @include indent-reset;
  @include section-padding;
}


@media (max-width: 320px) {
  .contacts__title {
    @include font(#{$base-font-size + 1px}, #{$base-line-height + 6px});
  }
}

.contacts__table {
  margin: 0 30px 30px 30px;
  border-collapse: collapse;

  @include font(#{$base-font-size - 2px}, #{$base-line-height + 6px});
  font-weight: 400;
}

.contacts__row {
  display: block;
  margin-bottom: 20px;
}

.contacts__cell {
  min-width: 75px;
  vertical-align: top;
  color: $base-color-text;

  &--address {
    max-width: 150px;
  }
}

.contacts__email {
  color: $base-color-text;
  border-bottom: 1px solid #46c1ae;

  &:hover,
  &:focus {
    color: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}

.contacts__map {
  margin-bottom: 30px;
}

.contacts__write {
  @include font(#{$base-font-size +1px}, #{$base-line-height - 4px});
}

@media (min-width: $tablet-width) {
  .contacts {
    position: relative;
    margin: 60px 0;
  }

  .contacts__wrapper {
    margin: 0 50px;
  }

  .contacts__title {
    position: relative;
    padding: 0;
    margin-bottom: 60px;

    &::before {
      content: "";
      position: absolute;
      width: 47px;
      height: 81px;
      background-image: url("../img/icon-flag.svg");
      background-repeat: no-repeat;
      right: 0;
    }
  }

  .contacts__table {
    width: 100%;
    margin: 0;
  }

  .contacts__table tbody {
    display: flex;
    justify-content: space-between;
  }

  .contacts__row {
    width: 50%;
  }

  .contacts__cell {
    &--address {
      max-width: 230px;
    }
  }

  .contacts__write {
    max-width: 230px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    margin: 0 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 60px;
  }

  .contacts__wrapper {
    margin-left: 177px;
  }

  .contacts__title {
    &::before {
      left: -110px;
    }
  }

  .contacts__table tbody {
    display: block;
  }

  .contacts__table {
    margin-bottom: 50px;
  }

  .contacts__map {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0;
  }

  .contacts__write {
    max-width: 230px;
    margin: 0;
    margin-left: 177px;
  }
}
