.copyright {

  svg {
    fill: #63d1bb;
  }

  &:hover svg,
  &:focus svg {
    fill: #46c1ae;
  }

  &:active svg {
    fill: #46c1ae;
    opacity: 0.3;
  }

  &:active .copyright__text {
    opacity: 0.3;
  }
}


.copyright__text {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  color: black;

  @include font(#{$base-font-size + 2px}, #{$base-line-height - 6px});

}
