.copyright {
  @include indent-reset;
  margin: 20px 38px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:hover .copyright__icon,
  &:focus .copyright__icon {
    fill: #46c1ae;
  }

  &:active .copyright__icon {
    fill: #46c1ae;
    opacity: 0.3;
  }

  &:active .copyright__text {
    opacity: 0.3;
  }
}

.copyright__icon {
  fill: $color-blue;
}

.copyright__text {
  display: inline-block;
  vertical-align: middle;
  color: black;
  margin-right: 30px;

  @include font(19px, $base-line-height-small);
}

@media (min-width: $tablet-width) {
  .copyright {
    margin: 0;
  }
}
