.email {
  padding-bottom: 15px;
  font-family: $base-font-family;
  line-height: 18px;
}

.email__wrapper {
  position: relative;
}

.email__title {
  margin-bottom: 5px;
}

.email__input {
  display: block;
  width: 100%;
  padding: 15px 0 17px;
  border: none;
  border-bottom: 2px solid $color-black;
  font: inherit;
  color: $base-color-text;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    border-bottom: 2px solid $color-blue-underline;
    outline: none;
  }
}

.email__input::placeholder {
  color: rgba($base-color-text, $alpha);
  font-weight: 400;
}

.email__icon {
  position: absolute;
  right: 5px;
  top: 40%;
  fill: #cccccc;
}

.email__input:hover + .email__icon,
.email__input:focus + .email__icon,
.email__input:active + .email__icon {
  fill: $color-blue-underline;
}

@media (min-width: $tablet-width) {
  .email {
    padding-bottom: 45px;
    background-color: $color-grey;
    margin-bottom: 50px;
  }

  .email__wrapper {
    padding-top: 10px;
    min-height: 55px;
  }

  .email__input {
    padding: 0 0 13px 15px;
    font-size: 19px;
    line-height: 18px;
    background-color: $color-grey;
  }

  .email__icon {
    right: 70px;
    top: 20%;
  }
}

@media (min-width: $desktop-width) {
  .email {
    margin-bottom: 0;
  }

  .email__icon {
    right: 230px;
    top: 17%;
  }
}
