.email {
  padding-bottom: 15px;
  font-family: $base-font-family;
}

.email__wrapper {
  position: relative;
}

.email__title {
  margin-bottom: 5px;
}

.email__input {
  display: block;
  width: 100%;
  padding: 15px 0 17px;
  border: none;
  border-bottom: 2px solid $color-black;
  font: inherit;
  color: $base-color-text;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    border-bottom: 2px solid $color-blue-underline;
    outline: none;
  }
}

.email__input[placeholder] {
  line-height: $base-line-height-small;
  font-weight: 400;
}

.email__input::-webkit-input-placeholder {
  color: rgba($base-color-text, $alpha);
}

.email__input::-moz-placeholder {
  color: rgba($base-color-text, $alpha);
}

.email__input:-ms-input-placeholder {
  color: rgba($base-color-text, $alpha);
}

.email__icon {
  position: absolute;
  right: 5px;
  top: 40%;
}

.email__input:hover + .email__icon,
.email__input:focus + .email__icon,
.email__input:active + .email__icon {
  fill: $color-blue-underline;
}

@media (min-width: $tablet-width) {
  .email {
    padding-bottom: 50px;
    background-color: $color-grey;
  }

  .email__wrapper {
    padding-top: 15px;
  }

  .email__input {
    padding: 0 0 13px 15px;
    font-size: 19px;
  }

  .email__input[placeholder] {
    background-color: $color-grey;
  }

  .email__icon {
    right: 20px;
    top: 30%;
  }
}

@media (min-width: $desktop-width) {
  .email__wrapper {
    padding-top: 17px;
  }

  .email__icon {
    right: 0;
    top: 30%;
  }
}
