.email {
  font-family: $base-font-family;
  padding-bottom: 20px;
}

.email__title {
  margin-bottom: 5px;
}

.email__input {
  display: block;
  width: 100%;
  padding: 15px 0 17px;
  border: none;
  border-bottom: 2px solid $color-black;
  font: inherit;
  color: $base-color-text;

  &:hover,
  &:focus,
  &:active {
    border-bottom: 2px solid $color-blue-underline;
    outline: none;
  }
}

.email__input[placeholder] {
  line-height: #{$base-line-height - 6px};
  font-weight: 400;
}

.email__input::-webkit-input-placeholder {
  color: rgba(68, 68, 68, 0.3);
}

.email__input::-moz-placeholder {
  color: rgba(68, 68, 68, 0.3);
}

.email__input:-ms-input-placeholder {
  color: rgba(68, 68, 68, 0.3);
}

@media (min-width: $tablet-width) {
  .email {
    background-color: #f1f1f1;
    padding-bottom: 50px;
  }

  .email__wrapper {
    padding-top: 15px;
  }

  .email__input {
    padding: 0 0 13px 15px;
    font-size: 19px;
  }

  .email__input[placeholder] {
    background-color: #f1f1f1;
  }
}

@media (min-width: $desktop-width) {
  .email__wrapper {
    padding-top: 17px;
  }
}
