.feedback {
 @include section-padding
}

.feedback__list {
  @include list-style;
}

.feedback__text {
  @include list-style;
  @include font(15px, 30px);
  font-weight: 400;
  color: $base-color;
}

.feedback__username {
  font: inherit;
  @include font(17px, 24px);
  font-weight: 700;
  color: $color-black;
}

.feedback__email {
  @include font(17px, 30px);
}

.feedback__user {
  margin-bottom: 30px;
}

.feedback__back {
  background-image: url("../../img/icon-left-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.feedback__next {
  background-image: url("../../img/icon-right-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}

.feedback__write {
  @include font(18px, 20px);
}
