.feedback {
  @include section-padding;
  padding-bottom: 50px;
  background: url("../img/bg-zigzag-line.svg") repeat-x bottom;
  background-size: auto 5px;
}

.feedback__title {
  margin-bottom: 25px;
}

.feedback__list {
  @include list-reset;
}

.feedback__text {
  @include indent-reset;

  min-height: 355px;

  @include font(15px, $base-line-height-big);
  font-weight: 400;
  color: $base-color-text;
}

.feedback__text p {
  margin: 0 0 25px;
  min-height: 270px;
}

.feedback__username {
  font: inherit;

  @include font($base-font-size, $base-line-height);
  font-weight: 700;
  color: $color-black;
}

.feedback__email {
  @include font($base-font-size, $base-line-height-big);
}

.feedback__user {
  margin-bottom: 30px;
}

.feedback__back {
  background-image: url("../img/icon-left-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.feedback__next {
  margin-bottom: 30px;
  background-image: url("../img/icon-right-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.feedback__write {
  font-size: 18px;
}

.feedback__wrapper {
  margin-bottom: 5px;
}

@media (min-width: $tablet-width) {
  .feedback {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    margin: 155px 0 0;
    padding: 0 50px;
    padding-bottom: 105px;
    background-size: auto 16px;
    background-position: bottom;

    &::before {
      content: "";
      position: absolute;
      background-image: url("../img/review@1x.jpg");
      background-repeat: no-repeat;
      top: -80px;
      left: 0;
      width: 350px;
      height: 457px;
      z-index: -1;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/review@2x.jpg");
        background-size: 350px auto;
      }
    }
  }

  .feedback__title {
    min-width: 50%;
    margin-bottom: 45px;
  }

  .feedback__write {
    order: 1;
    min-width: 175px;
    font-size: $base-font-size;
  }

  .feedback__list {
    order: 2;
  }

  .feedback__text {
    display: flex;
    flex-direction: column;
    font-size: $base-font-size;
    min-height: auto;
  }

  .feedback__text p {
    margin: 0 0 60px;
    min-height: auto;
  }

  .feedback__wrapper {
    position: absolute;
    bottom: 95px;
    right: 50px;
  }

  .feedback__user {
    display: flex;
    flex-direction: column;
  }

  .feedback__username {
    font-size: 18px;
  }
}

@media (min-width: $desktop-width) {
  .feedback {
    margin: 152px 50px 145px;
    padding: 0 0 155px 177px;
    background-size: auto 22px;

    &::before {
      left: 0;
      top: -70px;
    }
  }

  .feedback__text p {
    margin-bottom: 42px;
    max-width: 780px;
  }

  .feedback__username {
    font-size: $base-font-size;
  }

  .feedback__write {
    margin-top: 5px;
  }

  .feedback__wrapper {
    position: absolute;
    bottom: 145px;
    right: 0;
  }
}
