.feedback {
  @include section-padding;
}

.feedback__list {
  @include list-style;
}

.feedback__text {
  @include list-style;
  @include font(#{$base-font-size - 2px}, #{$base-line-height + 6px});
  font-weight: 400;
  color: $base-color-text;
}

.feedback__username {
  font: inherit;

  @include font($base-font-size, $base-line-height);
  font-weight: 700;
  color: $color-black;
}

.feedback__email {
  @include font($base-font-size, #{$base-line-height + 6px});
}

.feedback__user {
  margin-bottom: 30px;
}

.feedback__back {
  background-image: url("../img/icon-left-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.feedback__next {
  background-image: url("../img/icon-right-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}

.feedback__write {
  @include font(#{$base-font-size + 1px}, #{$base-line-height - 4px});
}

@media (min-width: $tablet-width) {
  .feedback {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }
  .feedback__title {
    min-width: 50%;
  }
  .feedback__write {
    order: 1;
  }

  .feedback__list,
  .feedback__back,
  .feedback__next {
    order: 2;
  }

  .feedback__text {
    display: flex;
    flex-direction: column;
  }

  .feedback__back,
  .feedback__next {
    margin: 0;
    margin-left: auto;
    margin-top: auto;

  }

  .feedback__list {
    width: 50%
  }
  .feedback__text p {
    width: 200%
  }


  // .feedback__user {
  //   position: relative;
  //   top: 50px;
  // }
}
