.footer {
  @include section-padding;
  background-color: $color-grey;
}

.footer__list {
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}

.footer__copyright {
  display: flex;
  align-items: center;
  justify-content: center;

  @include indent-reset;
  padding-top: 20px;
}

.footer__logo {
  display: none;
}

@media (min-width: $tablet-width) {
  .footer__logo {
    display: block;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    align-items: center;
  }

  .footer__list {
    border: none;
    padding: 0;
  }

  .footer__copyright {
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .footer {
    padding: 50px 100px;
  }
}
