.footer {
  padding: 15px 30px;
  background-color: $color-grey;
}

.footer__list {
  text-align: center;
  padding-bottom: 22px;
  border-bottom: 1px solid #e5e5e5;
}

.footer__copyright {
  display: flex;
  align-items: center;
  justify-content: center;

  @include indent-reset;
  padding-top: 10px;
}

.footer__logo {
  display: none;
}

@media (min-width: $tablet-width) {
  .footer__logo {
    display: block;

    &[href]:hover,
    &[href]:focus {
      fill: #46c1ae;
    }

    &[href]:active {
      fill: #46c1ae;
      opacity: 0.3;
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;
    padding: 45px 50px 50px;
    align-items: center;
  }

  .footer__list {
    border: none;
    padding: 0;
    margin-left: 80px;
  }

  .footer__copyright {
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .footer {
    padding: 45px 50px;
  }
}
