.form {
  padding: 0 30px;
}

.form__wrapper {
  margin-bottom: 15px;
}

.form__fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.form__title {
  padding: 0;
  margin-bottom: 25px;
  line-height: 16px;
  color: $color-blue;
  text-transform: uppercase;
  display: flex;
}

.form__title span {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &::after {
    content: "";
    display: block;
    min-width: 20px;
    height: 2px;
    margin-left: 25px;
    flex-grow: 1;
    background-color: #62d1ba;
    color: white;
  }
}

.form__list {
  @include list-reset;
}

.form__label {
  display: block;
  padding: 10px 0 15px 60px;
  line-height: 18px;
  max-width: 160px;
}

.form__text {
  @include indent-reset;
  margin: 0 0 30px;

  @include font(14px, 16px);
  font-weight: 400;
  color: $base-color-text;
}

.form__button {
  margin-bottom: 55px;
  padding-bottom: 18px;
  line-height: 16px;
}

@media (min-width: $tablet-width) {
  .form {
    padding: 0;
  }

  .form__wrapper {
    display: flex;
    align-items: baseline;
    padding: 0 50px;
    margin-bottom: 0;
  }

  .form__title {
    min-width: 167px;
    padding-left: 0;
  }

  .form__title span::after {
      display: none;
    }

  .form__container {
    flex-grow: 1;
  }

  .form__label {
    max-width: 100%;
    font-size: 19px;
  }

  .form__footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px 50px;
  }

  .form__text {
    margin: 0;

    @include font($base-font-size, $base-line-height-big);
  }

  .form__button {
    margin: 0;
    min-width: 230px;
  }
}

@media (min-width: $desktop-width) {
  .form__wrapper {
    padding: 45px 225px 0 50px;

    &--big {
      padding-right: 100px;
    }
  }

  .form__title {
    min-width: 175px;
    padding-left: 62px;
    box-sizing: border-box;
  }

  .form__footer {
    padding: 0;
    margin: 0 auto 50px;
    max-width: 700px;
  }
}
