.index-catalog__list {
  @include list-style;
}

.index-catalog__link {
  display: block;
  padding: 30px 180px 30px 30px;
  font-size: #{$base-font-size + 2px};
  color: $color-white;
  background-repeat: no-repeat;
  background-position: 80% center;


  &--interior {
    background-image: url("../img/icon-interior.svg");
    background-color: $color-blue;
  }

  &--toy {
    background-image: url("../img/icon-toy.svg");
    background-color: #56c3b2;
  }

  &:hover,
  &:focus {
    padding: 30px 180px 35px 30px;
    background-position: 80% 45%;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}
