.main-catalog__title {
  @include indent-reset;
  padding: 75px 30px;

  @include font(#{$base-font-size + 10px}, #{$base-line-height + 6px});
  background-color: $color-grey;
  text-align: center;
}
