.main-title {
  @include indent-reset;
  padding: 75px 30px;

  @include font(#{$base-font-size + 10px}, #{$base-line-height + 6px});
  background-color: $color-grey;
  text-align: center;
  position: relative;
  z-index: -100;

  &--index {
    padding: 70px 30px 125px;
    color: #010000;
    background-image: url("../img/hero-mobile@1x.jpg");
    background-position: center top;
  }
}

@media (min-width: $tablet-width) {
  .main-title {
    margin-top: -65px;
    position: relative;
    padding: 105px 0 80px;
    border-top: 1px solid #ececec;

    @include font(43px, 50px);

    &::before {
      content: "";
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      background-repeat: repeat;
      height: 15px;
      background-size: 40px 20px;
      background-image: radial-gradient(circle at 10px 15px, white 12px, transparent 13px);
    }

    &::after {
      content: "";
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      background-repeat: repeat;
      height: 10px;
      background-size: 20px 20px;
      background-image: radial-gradient(circle at 10px -5px, transparent 12px, white 13px);
    }

    &--index {
      padding: 165px 30px 490px;
      margin-top: -65px;
      border-top: 1px solid #ececec;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-title {
    @include font(53px, 57px);
    padding-bottom: 105px;
    margin-top: -82px;

    &--index {
      @include font(53px, 57px);
      border-top: none;
      padding-bottom: 390px;
    }
  }
}
