.main-title {
  @include indent-reset;
  padding: 72px 30px 75px;

  @include font(#{$base-font-size + 10px}, #{$base-line-height + 6px});
  background-color: $color-grey;
  text-align: center;
  position: relative;
  z-index: -100;

  &--index {
    padding: 72px 30px 122px;
    color: #010000;
    background-image: url("../img/hero-mobile@1x.jpg");
    background-position: center -16px;
  }
}

@media (min-width: $tablet-width) {
  .main-title {
    margin-top: -60px;
    position: relative;
    padding: 93px 0 85px;
    border-top: 1px solid #ececec;

    @include font(43px, 50px);

     &::before {
      content: "";
      position: absolute;
      display: block;
      bottom: 0px;
      right: 0;
      width: 100%;
      height: 15px;
      background: url("../img/bg-zigzag-fill.svg") repeat-x -8px top;
      background-size: auto 23px;
    }

    &--index {
      padding: 152px 30px 495px;
      border-top: 1px solid #ececec;
      background-image: url("../img/hero-tablet@1x.jpg");
      background-position: center 0;

      &::before {
        display: none;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .main-title {
    @include font(53px, 57px);
    padding-bottom: 105px;
    margin-top: -63px;
    box-shadow: 0 -51px 0 -50px #ececec;

    &::before {
      height: 18px;
      background: url("../img/bg-zigzag-fill.svg") repeat-x top;
      background-size: auto 38px;
    }

    &--index {
      border-top: none;
      padding-bottom: 480px;
      background-image: url("../img/hero-desktop@1x.jpg");
    }
  }
}
