.main-nav {
  position: relative;
}

.main-nav__toggle {
  position: absolute;
  right: 9.3%;
  top: 30px;
  width: 21px;
  height: 20px;
  font-size: 0;
  border: none;
  background-image: url("../img/icon-menu-close.svg");
  background-color: transparent;
}

.main-nav__logo {
  display: block;
  padding: 22px 0;
  text-align: center;
  box-shadow: $base-shadow;
}

.menu-product,
.main-nav__delivery {
  display: none;
}

@media (min-width: $tablet-width) {
  .main-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .main-nav__main {
    order: 2;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__delivery {
    display: block;
    order: 3;
    margin: auto 0;

    @include indent-reset;
    @include font(15px, 24px);
    font-weight: 400;
    color: $base-color-text;
  }

  .main-nav__logo {
    margin-right: auto;
    box-shadow: none;
    padding: 18px 0;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__main {
    order: 1;
    border-bottom: 1px solid #ececec;
  }

  .main-nav__logo {
    order: 2;
    margin-right: 0;
    flex-grow: 1;
    border-bottom: 1px solid #ececec;
  }

  .main-nav__user {
    order: 3;
    border-bottom: 1px solid #ececec;
  }

  .main-nav__product {
    order: 3;
    flex-grow: 1;
  }
}
