.main-title {
  padding: 70px 30px 125px;
  margin: 0;
  text-align: center;

  @include font(#{$base-font-size + 10px}, #{$base-line-height + 6px});
  color: #010000;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-position: center top;
}

@media (min-width: $tablet-width) {
  .main-title {
    padding: 165px 30px 490px;

    @include font(43px, 50px);
    margin-top: -80px;
    border-top: 1px solid #ececec;
  }
}

@media (min-width: $desktop-width) {
  .main-title {
    @include font(53px, 57px);
    border-top: none;
    padding-bottom: 390px;
  }
}
