.main-form__title {
  @include indent-reset;
  padding: 75px 30px;

  @include font(27px, $base-line-height-big);
  background-color: $color-grey;
  text-align: center;
  position: relative;
  z-index: -100;
}

.main-form__text {
  @include indent-reset;
  padding: 25px 30px 23px;
  font-size: 13px;
  color: $base-color-text;
  font-weight: 400;
}

@media (min-width: $tablet-width) {
  .main-form__title {
    margin-top: -65px;
    border-top: 1px solid #ececec;
    position: relative;
    padding: 105px 0 80px;

    @include font(43px, 50px);
  }

  .main-form__text {
    margin: 70px 50px 22px;
    padding: 0;

    @include font($base-font-size, $base-line-height-big);
  }
}

@media (min-width: $desktop-width) {
  .main-form__text {
    display: block;
    margin: 120px auto 30px;
    max-width: 700px;
  }
}
