.main-form__text {
  padding: 25px 30px 23px;
  font-size: 13px;
  color: $base-color-text;
  font-weight: 400;
}

@media (min-width: $tablet-width) {
  .main-form__text {
    margin: 70px auto 70px;
    padding: 0;
    max-width: 668px;

    @include font($base-font-size, $base-line-height-big);
  }
}

@media (min-width: $desktop-width) {
  .main-form__text {
    display: block;
    margin: 120px auto 30px;
    max-width: 700px;
  }
}
