.main-nav {
  position: relative;
  z-index: 3;
}

.main-nav__toggle {
  display: block;
  position: absolute;
  right: 9.3%;
  top: 28px;
  width: 21px;
  height: 20px;
  font-size: 0;
  border: none;
  background: url("../img/icon-menu-open.svg") no-repeat center;
  background-color: transparent;

  &--open {
    background: url("../img/icon-menu-close.svg") no-repeat center;
  }
}

.main-nav__toggle--no-js {
  display: none;
}

.main-nav__logo {
  display: block;
  padding: 22px 0 16px;
  text-align: center;
  box-shadow: $base-shadow;

  &[href]:hover,
  &[href]:focus {
    opacity: 0.6;
  }

  &[href]:active {
    opacity: $alpha;
  }
}

.menu-product,
.main-nav__delivery {
  display: none;
}

.main-nav__user,
.main-nav__main {
  display: none;
}

.main-nav--show {
  display: block;
}

@media (min-width: $tablet-width) {
  .main-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 50px;
  }

  .main-nav__main {
    order: 2;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__delivery {
    display: block;
    order: 3;
    align-self: center;

    @include indent-reset;
    @include font(15px, $base-line-height);
    font-weight: 400;
    color: $base-color-text;
  }

  .main-nav__logo {
    margin-right: auto;
    box-shadow: none;
    padding: 22px 0 15px;
  }

  .main-nav__logo-image {
    width: 112px;
    height: 46px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__main {
    order: 1;
  }

  .main-nav__logo {
    order: 2;
    margin-right: auto;
    margin-left: 5px;
    padding: 8px 0 0;
  }

  .main-nav__logo-image {
    width: 149px;
    height: 72px;
  }

  .main-nav__user {
    order: 3;
  }

  .main-nav__product {
    order: 3;
    flex-grow: 1;
  }
}
