.making__wrapper {
  padding: 25px 0 30px;
  margin: 0 30px 60px;
  border: 1px solid #ececec;

  &:hover {
    box-shadow: 0 6px 10px 0 rgba($color-black, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba($color-black, 0.1);
  }
}

.making__video {
  display: none;
}

.making__title {
  padding-left: 90px;
  margin: 0 0 22px;

  @include font($base-font-size, $base-line-height);
  background-image: url("../img/icon-video.svg");
  background-repeat: no-repeat;
  background-position: 35px 5px;
}

.making__image {
  position: relative;
  display: block;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 101px;
    height: 77px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-53%);
    background-image: url("../../img/icon-play.svg");
    cursor: pointer;
  }

  &:hover::before {
    transform: translateX(-50%) translateY(-53%) scale(1.2);
  }

  &:active::before {
    transform: translateX(-50%) translateY(-53%) scale(0.8);
    opacity: 0.3;
  }
}

.making__image img {
  display: block;
}

.making__text {
  @include indent-reset;
  padding: 24px 40px 23px 32px;
  font-size: 13px;
  color: $base-color-text;
  font-weight: 400;
}

.making__order {
  margin: 0 32px;
  min-width: 150px;
  padding: 17px 15px;
  line-height: 16px;
}

@media (min-width: $tablet-width) {
  .making__wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 50px 60px;
    padding: 0;
  }

  .making__title {
    order: 1;
    padding: 34px 0 34px 67px;
    margin: 0 40px;
    font-size: 20px;
    background-position: 0 center;
  }

  .making__image {
    border-bottom: 1px solid #ececec;
  }

  .making__text {
    order: 1;
    margin: 0 40px 32px;
    padding: 0;

    @include font(15px, $base-line-height-big);
  }

  .making__order {
    order: 1;
    margin: 0 40px 45px;
    max-width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .making {
    position: relative;
  }

  .making__wrapper {
    margin: 0 50px 105px auto;
    max-width: 370px;
    padding: 0 57px 0 75px;
    box-sizing: border-box;
  }

  .making__title {
    padding: 95px 140px 35px 0;
    margin: 0;
    background-position: 0 45px;
  }

  .making__text {
    margin: 0 0 46px;
  }

  .making__image {
    position: absolute;
    left: 0;
    border: none;
  }

  .making__order {
    margin: 0 0 58px;
  }
}
