@media (min-width: $desktop-width) {
  .menu-product {
    display: flex;

    @include list-reset;
  }

  .menu-product__link {
    padding: 28px 0;
    min-width: 222px;
    font-size: #{$base-font-size - 2px};
    display: block;
    color: $color-black;
  }
}
