.phone {
  font-family: $base-font-family;
  padding-bottom: 20px;
}

.phone__wrapper {
  position: relative;
}

.phone__title {
  margin-bottom: 5px;
}

.phone__input {
  display: block;
  width: 100%;
  padding: 15px 0 17px;
  border: none;
  border-bottom: 2px solid $color-black;
  font: inherit;
  color: $base-color-text;
  cursor: pointer;


  &:hover,
  &:focus,
  &:active {
    border-bottom: 2px solid $color-blue-underline;
    outline: none;
  }
}

.phone__input[placeholder] {
  line-height: 18px;
  font-weight: 400;
}

.phone__input::-webkit-input-placeholder {
  color: rgba($base-color-text, $alpha);
}

.phone__input::-moz-placeholder {
  color: rgba($base-color-text, $alpha);
}

.phone__input:-ms-input-placeholder {
  color: rgba($base-color-text, $alpha);
}

.phone__icon {
  position: absolute;
  right: 5px;
  top: 50%;
}

.phone__input:hover + .phone__icon,
.phone__input:focus + .phone__icon,
.phone__input:active + .phone__icon {
  fill: $color-blue-underline;
}

@media (min-width: $tablet-width) {
  .phone {
    background-color: $color-grey;
    padding-bottom: 25px;
  }

  .phone__wrapper {
    padding-top: 0;
    margin-top: 50px;
  }

  .phone__input {
    padding: 15px 0 12px 15px;
    font-size: 19px;
  }

  .phone__input[placeholder] {
    background-color: $color-grey;
  }

  .phone__icon {
    right: 70px;
    top: 30%;
  }
}

@media (min-width: $desktop-width) {
  .phone__icon {
    right: 225px;
  }
}
