.phone {
  font-family: $base-font-family;
  padding-bottom: 20px;
}

.phone__title {
  margin-bottom: 5px;
}

.phone__input {
  display: block;
  width: 100%;
  padding: 15px 0 17px;
  border: none;
  border-bottom: 2px solid $color-black;
  font: inherit;
  color: $base-color-text;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    border-bottom: 2px solid $color-blue-underline;
    outline: none;
  }
}

.phone__input[placeholder] {
  line-height: #{$base-line-height - 6px};
  font-weight: 400;
}

.phone__input::-webkit-input-placeholder {
  color: rgba(68, 68, 68, 0.3);
}

.phone__input::-moz-placeholder {
  color: rgba(68, 68, 68, 0.3);
}

.phone__input:-ms-input-placeholder {
  color: rgba(68, 68, 68, 0.3);
}


@media (min-width: $tablet-width) {
  .phone {
    background-color: #f1f1f1;
  }

  .phone__wrapper {
    padding-bottom: 0;
  }

  .phone__input {
    padding: 15px 0 12px 15px;
    font-size: 19px;
  }

  .phone__input[placeholder] {
    background-color: #f1f1f1;
  }
}
