.product-week {
  background: url("../img/bg-zigzag-line.svg") repeat-x bottom;
  background-size: auto 5px;
}

.product-week__container {
  padding: 30px;
  padding-bottom: 40px;
}

.product-week__name {
  margin-bottom: 3px;
}

.product-week__title {
  @include indent-reset;
  margin-bottom: 22px;

  @include font($base-font-size, $base-line-height-small);
  color: $color-blue;
  text-transform: uppercase;
}

.product-week__text {
  @include indent-reset;
  margin-bottom: 16px;
  font-size: 15px;
  font-weight: 400;
  color: $base-color-text;
}

.product-week__property {
  @include indent-reset;
  display: block;
  margin-bottom: 24px;

  @include font(15px, $base-line-height-small);
  font-weight: 400;
  color: $base-color-text;
}

.product-week__cell {
  min-width: 95px;
  padding: 10px 0;
  border-bottom: 1px solid #ececec;
}

.product-week__cost {
  padding: 0;
  margin: 17px 0 26px;
  text-align: center;
  color: $base-color-text;
}

@media (min-width: $tablet-width) {
  .product-week {
    position: relative;
    background-size: auto 16px;
    background-position: bottom;
  }

  .product-week__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    margin: 50px;
    margin-top: 0;
    padding: 45px 0 65px;
  }

  .product-week__name {
    margin-bottom: 50px;
  }

  .product-week__title {
    max-width: 115px;
    margin-top: 10px;
    line-height: 17px;
    text-align: center;
  }

  .product-week__wrapper {
    width: 290px;
    margin-right: 50%;
  }

  .product-week__text {
    margin: 0;
    margin-bottom: 30px;

    @include font($base-font-size, $base-line-height-big);
  }

  .product-week__photo {
    position: absolute;
    bottom: 65px;
    right: 0;
  }

  .product-week__cost {
    margin: 30px 0 35px;

    @include font(20px, $base-line-height);
  }

  .product-week__btn {
    min-width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .product-week {
    background: none;
  }

  .product-week__container {
    margin: 0 50px;
    padding-top: 125px;
    padding-bottom: 95px;
    background: url("../../img/bg-zigzag-line.svg") repeat-x bottom;
    background-size: auto 22px;
  }

  .product-week__name {
    order: 2;
    margin-right: auto;
  }

  .product-week__text {
    margin-bottom: 45px;
  }

  .product-week__wrapper {
    order: 3;
    margin-left: 175px;
    max-width: 320px;
  }

  .product-week__title {
    padding: 0 40px;
    margin-top: 15px;
    max-width: 170px;
    box-sizing: border-box;
    flex-grow: 0;
  }

  .product-week__property {
    margin-bottom: 75px;
  }

  .product-week__photo {
    z-index: -1;
    bottom: 97px;
  }
}
