.social {
  @include indent-reset;
  margin-right: 5px;
}

.social__item {
  display: inline-block;
}

.social__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 43px;
  height: 35px;
  fill: #221f1f;
  font-size: 0;

  &--fb {
    margin: 0 15px;
  }

  &:hover svg,
  &:focus svg {
    fill: #46c1ae;
  }

  &:active svg {
    fill: #46c1ae;
    opacity: 0.3;
  }
}
