.social {
  @include indent-reset;
  outline: 1px solid red;

}

.social__item {
  display: inline-block;
  outline: 1px solid red;

}

.social__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  fill: #221f1f;
  font-size: 0;



  &--fb {
    margin: 0 22px;
  }

  &:hover,
  &:focus {
    fill: #46c1ae;
  }

  &:active {
    fill: #46c1ae;
    opacity: 0.3;
  }
}


