.type {
  margin-bottom: 10px;
}

.type__label {
  position: relative;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 15px;
    height: 15px;
    left: 5%;
    top: 25%;
    background-color: white;
    box-sizing: border-box;
    border-radius: 50%;

    box-shadow:
      0 0 0 10px white,
      0 0 0 12px #444444;
  }
}


.type__input:checked + .type__label {
  &::before {
    background-color: #62d1ba;
  }
}

.type__input:hover + .type__label,
.type__input:focus + .type__label {
  &::before {
    box-shadow:
      0 0 0 10px white,
      0 0 0 12px #62d1ba;
  }
}

.type__input:active + .type__label {
  &::before {
    box-shadow:
      0 0 0 10px white,
      0 0 0 12px #c7c7c7;
  }
}

@media (min-width: $tablet-width) {
  .type {
    margin-bottom: 12px;
  }

  .type__title {
    margin: 0;
  }

  .type__label {
    padding: 0 0 58px 80px;

    &::before {
      top: 0;
      width: 20px;
      height: 20px;
      box-shadow:
        0 0 0 14px white,
        0 0 0 16px #444444;
    }
  }

  .type__input:hover + .type__label,
  .type__input:focus + .type__label {
    &::before {
      box-shadow:
        0 0 0 14px white,
        0 0 0 16px #62d1ba;
    }
  }

  .type__input:active + .type__label {
    &::before {
      box-shadow:
        0 0 0 14px white,
        0 0 0 16px #c7c7c7;
    }
  }
}

@media (min-width: $desktop-width) {
  .type {
    margin-bottom: 8px;
  }
}
