.user {
  font-family: $base-font-family;
  margin-bottom: 10px;
}

.user__item {
  margin: 5px 0 21px;
}

.user__label {
  display: block;
  line-height: #{$base-line-height - 6px};
  margin-bottom: 5px;
}

.user__input {
  display: block;
  width: 100%;
  padding: 15px 0;
  border: none;
  border-bottom: 2px solid $color-black;
  font: inherit;
  font-weight: 400;
  color: $base-color-text;

  &:hover,
  &:focus,
  &:active {
    border-bottom: 2px solid $color-blue-underline;
    outline: none;
  }
}

.user__input[placeholder] {
  line-height: #{$base-line-height - 6px};
  font-weight: 400;
}

.user__input::-webkit-input-placeholder {
  color: rgba(68, 68, 68, 0.3);
}

.user__input::-moz-placeholder {
  color: rgba(68, 68, 68, 0.3);
}

.user__input:-ms-input-placeholder {
  color: rgba(68, 68, 68, 0.3);
}

@media (min-width: $tablet-width) {
  .user {
    margin: 10px 0 15px;
  }

  .user__item {
    display: flex;
    margin: 0;
    margin-bottom: 33px;
    align-items: baseline;
  }

  .user__label {
    margin-right: 25px;

    font-size: 19px;
  }

  .user__input {
    padding: 0 0 15px 15px;
    font-size: 19px;
  }
}

@media (min-width: $desktop-width) {
  .user {
    margin: 15px 0 17px;
  }
}
