.user-menu {
  @include list-reset;
}

.user-menu__link {
  display: block;
  position: relative;
  padding: 28px 0 27px 23.4%;
  text-decoration: none;
  color: black;
  box-shadow: $base-shadow;

  svg {
    opacity: 0.2;
  }

  &:hover,
  &:focus {
    color: $color-hover;

    svg {
      fill: $color-blue;
      opacity: 1;
    }

  }

  &:active {
    color: $color-active;

    svg {
      fill: rgba($color-blue, $alpha);
    }
  }
}

.user-menu__icon {
  position: absolute;
  top: 33px;
  left: 9.3%;
}

@media (min-width: $tablet-width) {
  .user-menu {
    display: flex;
    flex-wrap: wrap;
  }

  .user-menu__link {
    padding: 30px 0 25px 83px;
    min-height: 100%;
    box-sizing: border-box;
    box-shadow: none;
    border-left: 1px solid #ececec;

    &--hidden {
      font-size: 0;
    }
  }

  .user-menu__icon {
    left: 32px;
    top: 35px;
  }
}

@media (min-width: $desktop-width) {
  .user-menu__link {
    padding: 30px 0 33px 83px;
  }
}
