.user {
  font-family: $base-font-family;
}

.user__label {
  display: block;
  @include font(17px, 18px);
}

.user__input {
  display: block;
  width: 100%;
  padding: 15px 0;
  border: none;
  border-bottom: 2px solid $color-black;
  @include font(17px, 18px);
  font-weight: 400;
  font: inherit;
  color: $base-color-text;

  &:hover {
    border-bottom: 2px solid $color-blue-underline;
    outline: none;
  }

  &:focus,
  &:active {
    border-bottom: 2px solid $color-blue-underline;
    outline: none;
  }
}

.user__input[placeholder] {
    font-weight: 400;
    @include font(17px, 18px);
}

.user__input::-webkit-input-placeholder {
  color: rgba(68, 68, 68, 0.3);
}

.user__input::-moz-placeholder {
  color: rgba(68, 68, 68, 0.3);
}

.user__input:-ms-input-placeholder {
  color: rgba(68, 68, 68, 0.3);
}
