body {
  margin: 0 auto;
  padding: 0;
  background-color: $color-white;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: 700;
  color: $color-black;
  width: 320px;
  outline: 1px solid red;
}

a {
  text-decoration: none;
  cursor: pointer;
}

// .container {
//   padding: 0 30px;
// }

@media (min-width: $tablet-width) {
  body {
    width: 768px;
  }

  .container {
    padding: 0 50px;
  }
}

@media (min-width: $desktop-width) {
  body {
    width: 1150px;
  }
}
