@import "fonts.scss";
@import "variables.scss";
@import "mixin.scss";

body {
  margin: 0;
  padding: 0;
  background-color: $color-white;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: 24px;
  font-weight: 700;
  color: $color-black;
  max-width: 320px;
  margin: 0 auto;
  outline: 1px solid red;
}

a {
  text-decoration: none;
}

@import "blocks/button.scss";
@import "blocks/title.scss";
@import "blocks/main-header.scss";
@import "blocks/main-nav.scss";
@import "blocks/main-menu.scss";
@import "blocks/main-page.scss";
@import "blocks/visually-hidden.scss";
@import "blocks/main-title.scss";
@import "blocks/catalog.scss";
@import "blocks/product-week.scss";
@import "blocks/about-us.scss";
@import "blocks/feedback.scss";
@import "blocks/contacts.scss";
@import "blocks/social.scss";
@import "blocks/footer.scss";
@import "blocks/copyright.scss";
@import "blocks/cart.scss";
@import "blocks/main-catalog.scss";
@import "blocks/catalog.scss";
@import "blocks/product.scss";
@import "blocks/making.scss";
@import "blocks/main-form.scss";
@import "blocks/form.scss";
@import "blocks/type.scss";
@import "blocks/color.scss";
@import "blocks/user.scss";
@import "blocks/phone.scss";
@import "blocks/email.scss";
@import "blocks/comment.scss";
@import "blocks/index-catalog.scss";
